* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background: #fff;
  min-height: 100vh;
  font-size: 18px;
}

.container {
  width: 1070px;
  height: 100%;
  margin: 0 auto;
}

.days-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
}

.days {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 200px;
    text-align: center;
}

.bg-fest {
  background-color: lightblue;
}